#solutions .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#solutions .block:nth-child(2n + 1) {
    background: var(--block2-background);
}

.box2:not(:first-child) {
    margin-left: 50px;
}

.box2 h1 {
    margin-top: 1rem;
    font-size: 1rem;
}

.box2 p {
    color: rgba(0, 0, 0, 0.658);
}