#header-text {
    text-align: center;
    word-break: keep-all;
    padding: 0 0 30px 0;
}

#header-text h1 {
    font-size: 2.5em;
    padding-bottom: 20px;
}

#header-text h7 {
    color: #ffa200;
    padding: 10px;
    border: 1px solid #ffa200;
    border-radius: 3px;
    margin-bottom: 30px;
    display: inline-block;
    font-weight: bold;
}

#header-text p {
    font-size: 1.5em;
}

#header-button {
    margin-top: 50px;
    font-weight: bold;
}

#header-button .row {
    margin-top: 10px;
}

#header-button a {
    background: linear-gradient(to bottom, #ffa200 0%,#d69200 100%);
    padding: 5px 10px 5px 10px;
    border: 1px solid #c27700;
    border-radius: 3px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    width: 10rem;
}
#header-button a:hover {
    background: linear-gradient(to bottom, #ec9600 0%,#c38500 100%);
}

#main-statement {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 70px 0;
}

#main-statement h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#main-statement p {
    font-size: 1.3em;
}

.main-block {
    margin: 20px 0 20px 0;
}

.main-block h1 {
    font-size: 1.7em;
    margin-bottom: 10px;
}

.main-block h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.main-block p {
    font-size: 1em;
}

.main-block a {
    padding: 5px 10px 5px 10px;
    border: 1px solid #ffa200;
    border-radius: 3px;
    color: #ffa200;
    display: inline-block;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.main-block a:hover {
    background: #ffa200;
    color: #fff;
}

.main-block table {
    margin: 0 auto;
}

.main-block table i {
    color: #ffa200;
}

.main-block td:not(:last-child) {
    padding: 0 50px 0 0;
}

.main-block th {
    text-align: left;
    padding: 0 0 15px 0;
}