[submodule "phpOMS"]
	path = phpOMS
	url = https://github.com/Orange-Management/phpOMS.git
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/Orange-Management/Documentation.git
[submodule "Developer-Guide"]
	path = Developer-Guide
	url = https://github.com/Orange-Management/Developer-Guide.git
[submodule "Modules"]
	path = Modules
	url = https://github.com/Orange-Management/Modules.git
