body > header {
    color: #fff;
    letter-spacing: 1px;
    background-image: radial-gradient(200rem 100rem at top, var(--header-background-highlight) 0%, var(--header-background) 30%);
    border-bottom: 1px solid var(--header-border);
}

header img {
    width: 15rem;
}

body > header .img {
    position: relative;
    margin-left: 70px;
}

#header-content {
    height: var(--header-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header .box {
    max-width: 500px;
}

body > header .box h1 {
    font-size: 2.5rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 1rem;
}

body > header .box p {
    line-height: 1.75rem;
    margin-top: 2rem;
    font-weight: 300;
}

body > header .img:after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 5%;
    width: 90%;
    height: 5%;
    border-radius: 50%;
    box-shadow: 0px 20px 5px hsla(0, 0%, 0%, 0.25);
}

#content-header-container {
    position: relative;
    top: -110;
    color: rgba(0, 0, 0, 0.95);
}

#content-header-container .flex {
    flex-flow: row wrap;
    margin: -1rem 0 -1rem -1rem;
}

#content-header-container .flex>div {
    flex: 1 1 calc(33.33% - 1rem);
    margin: 1rem 0 1rem 1rem;
    min-width: 250px;
}

#content-header-container h1 {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1rem;
}

.block1 .section {
    margin-bottom: 4rem;
}

.block1 .left {
    text-align: right;
}

.block1 .right {
    text-align: left;
}

.block1 .center {
    text-align: center;
}

.block1 .text {
    flex: 1;
}

.block1 .ico {
    width: 100px;
    margin: .5rem 0 0 0;
    text-align: center;
}

.block1 p {
    opacity: 0.7;
}

.block1 .box p {
    margin: 0 0 1.5rem 0;
}

.block1 {
    background: var(--block1-background);
    color: #fff;
}

.block1 .box {
    flex: 2;
}

.block1 .box.center {
    flex: 0;
    flex-basis: 50px;
    margin: 0 1rem 0 1rem;
}

.block1 .box:not(:first-child) {
    margin-left: 20px;
}

.block1-b > .floater > .flex {
    justify-content: center;
    flex-flow: row wrap;
    margin: -.5rem 0 -.5rem -.5rem;
}

.block1-b > .floater > .flex > div:nth-child(2n + 1) {
    flex: 1 1 calc(25% - .5rem);
    margin: .5rem 0 .5rem .5rem;
    min-width: 250px;
}

.block2 {
    background: var(--block2-background);
}

.block2 .flex {
    justify-content: center;
    flex-flow: row wrap;
    margin: -1rem 0 -1rem -1rem;
}

.block2 .flex>div {
    flex: 1 1 calc(25% - 1rem);
    margin: 1rem 0 1rem 1rem;
    min-width: 250px;
}

.block3 {
    background: var(--block3-background);
}

.slide-up-fade-in {
    animation: slide-up-fade-in ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: slide-up-fade-in ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: slide-up-fade-in ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: slide-up-fade-in ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: slide-up-fade-in ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/

    opacity: 0;
    opacity: 1\9;

}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes slide-up-fade-in{
    0% {
        opacity:0;
        -moz-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -webkit-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -o-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -ms-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
    }
}