:root {
    --top-height: 5rem;

    /*
    --header-height: 30rem;
    --header-background: #f09000;
    --header-background-highlight: #ffa928;
    --header-border: #e3b36a;

    --block1-background: #864c00;
    */

    --header-height: 30rem;
    --header-background: #643bbb;
    --header-background-highlight: #916ae3;
    --header-border: #916ae3;

    --block1-background: #1e0d44;
    --block2-background: #f3f3f9;
    --block3-background: #fff;

    --footer-background: #1e0d44;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, nav, section, iframe, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--header-background);
}

button, input[type=submit], .button {
    background-image: linear-gradient(var(--header-background-highlight), var(--header-background));
    border-radius: 2rem;
    border: none;
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease,
                color 0.5s ease;
}

button.large, input[type=submit].large, .button.large {
    padding: .9rem 1rem .9rem 1rem;
    min-width: 15rem;
    font-size: 1.3rem;
}

button.small, input[type=submit].small, .button.small {
    padding: .3rem .5rem .3rem .5rem;
    min-width: 5rem;
    font-size: .9rem;
}

button:hover, button:active, input[type=submit]:hover, input[type=submit]:active, .button:hover {
    color: var(--header-background);
    background: #fff;
}

.block a, .block a:hover, .block a:active {
    color: var(--header-background);
    font-weight: bold;
}

.floater {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

nav {
    height: var(--top-height);
    position: relative;
    display: flex;
    align-items: center;
}

nav ul {
    display: inherit;
    margin-left: auto;
}

nav li {
    display: inline-block;
}

nav li:not(:first-child) {
    margin-left: 20px;
}

nav a {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, .95);
    letter-spacing: 1px;
    padding-bottom: 10px;
}

nav a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}

#company a {
    letter-spacing: 1px;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
}

#company-logo {
    margin-right: 1rem;
    flex: 0;
}

#company-logo img {
    width: 40px;
}

#company a:hover{
    border-bottom: none;
}

body > header {
    color: #fff;
    letter-spacing: 1px;
    background-image: radial-gradient(200rem 100rem at top, var(--header-background-highlight) 0%, var(--header-background) 30%);
    border-bottom: 1px solid var(--header-border);
}

.tleft {
    text-align: left;
}

.tcenter {
    text-align: center;
}

.tright {
    text-align: right;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
}

.box p {
    margin: 0 0 1.5rem 0;
    font-weight: 300;
}

.spacer {
    padding: 3rem;
}

.block {
    font-weight: 300;
    padding: 4rem 0 4rem 0;
}

.block p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.block ul p {
    margin: 0;
    padding: 0;
}

.block1 .box ul p {
    margin: 0;
    padding: 0;
}

.block h1 {
    font-weight: 200;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

.block h2 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 0 0 2rem 0;
    width: 80%;
    margin: 0 auto;
    opacity: 0.7;
    line-height: 1.5rem;
}

.block h3 {
    margin-bottom: .5rem;
}

.section {
    margin-top: 2rem;
}

.box1 {
    flex: 1;
    background: #fff;
    border-radius: .3rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.box1 h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: 200;
    padding-top: 1rem;
    color: rgba(0, 0, 0, 0.95);
}

footer {
    color:rgba(255, 255, 255, 0.50);
    background: var(--footer-background);
    padding: 2rem 0 2rem 0;
}

footer h1, footer p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

footer ul {
    font-size: 0.8rem;
    list-style-type: none;
}


footer li {
    margin-bottom: .5rem;
}

footer a {
    color:rgba(255, 255, 255, 0.65);
    margin-bottom: 1rem;
    white-space: nowrap;
}

footer a:hover {
    color:rgba(255, 255, 255, 0.85);
}

footer .flex > div {
    min-width: 100px;
    flex-basis: auto;
    flex-grow: 1;
}

footer .flex > div:not(:first-child) {
    margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
    header nav ul, #header-content .img, footer .flex div:first-child {
        display: none;
    }
}