.block1 {
    background: var(--block1-background);
    color: #fff;
}

.block2 {
    background: var(--block2-background);
}

.block3 {
    background: var(--block3-background);
}

.flex .box:nth-child(2n) {
    text-align: left;
    margin-left: 4rem;
}

.flex .box:nth-child(2n + 1) img {
    float: right;
}