.block2 {
    background: var(--block2-background);
}

.block3 {
    background: var(--block3-background);
}

.flex.section {
    justify-content: center;
    flex-flow: row wrap;
    margin: -.5rem 0 -.5rem -.5rem;
}

.flex.section>div {
    flex: 1 1 calc(25% - .5rem);
    margin: .5rem 0 .5rem .5rem;
    min-width: 250px;
}

